body {
  background-image: url('../images/movie_reel.jpg');
}

#playSpace {
  background-color: #5691d8;
  width: 70vw;
  height: 600px;
  text-align: center;
  padding: 10px;
  margin: 25px auto;
  border-radius: 10px;
}

.choice {
  display: block;
  margin: 5px auto;
}
